# Dependency directory
node_modules/

# Logs
logs
*.log

# IDEA
.idea/
*.iml

# Window
Thumbs.db
Desktop.ini

# MAC
.DS_Store

# etc
*.swp
etc
temp
api
doc
report
karma.conf.local.js
.tern-project
.tern-port
*.vim
.\#*
.vscode/
dist/

# Codes
src/php/_connect.php